header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  /* everything sits at bottom */
  justify-content: flex-start;
  /* align to left */
  padding: 0 40px;
  box-sizing: border-box;
  gap: 80px;
  /* space between Stat Diamond and links */
}

.stat-diamond {
  font-size: 30px;
  color: white;
  text-decoration: none;
  align-self: flex-end;
  /* bottom-align even with smaller links */
}

.header-links {
  display: flex;
  gap: 50px;
  /* spacing between links */
}

.header-links a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-self: flex-end;
  /* bottom-align links */
}

.header-links a:hover {
  color: burlywood;
}

.stat-diamond:hover {
  color: burlywood
}