header {
  width: 100%;
  height: 125px;
  display: flex;
  padding: 0 40px;
  box-sizing: border-box;
  gap: 60px;
  /* space between Stat Diamond and links */
}

.stat-diamond {
  font-size: 50px;
  color: white;
  text-decoration: none;
  align-self: center;
  /* bottom-align even with smaller links */
}

.header-links {
  display: flex;
  gap: 50px;
  /* spacing between links */
}



.header-links a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-self: center;
  /* bottom-align links */
}

.header-links a:hover {
  color: burlywood;
}

.stat-diamond:hover {
  color: burlywood
}