header {
  width: 100%;
  height: 125px;
  display: flex;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.11em;
  gap: 60px;
  /* space between Stat Diamond and links */
}

.stat-diamond {
  font-size: 50px;
  color: white;
  text-decoration: none;
  align-self: center;
  /* bottom-align even with smaller links */
}

.header-links {
  display: flex;
  gap: 50px;
  /* spacing between links */
}

.header-links a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-self: center;
  padding: 10px;
  /* bottom-align links */
}

.header-links a:hover {
  color: #c9a84c;
  background-color: rgb(40, 40, 40);
  border-radius: 20px;

}

.stat-diamond:hover {
  color: #c9a84c;
}