header {
  font-size: 20px;
  border-radius: 50px;
  top: 0;
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header-links a {
  color: black
}

.header-links a:hover {
  color: burlywood
}