table {
  margin: 0 auto;
  width: 80%;
  height: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px 12px;
  text-align: left;
  width: 2%;
}

.player-headers {
  cursor: pointer;
}

.player-headers:hover {
  background-color: rgb(81, 80, 80);
}