.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-login-page {
  text-align: left;
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 400px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 70%;
}

.form input {
  border-radius: 2px;
  height: 20px;
}