.login-page {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

.label-login-page {
  text-align: left;
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(83, 83, 83, 0.339);
  width: 20%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.079);
  height: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 80%;
  border: none;
}

.form input {
  border-radius: 2px;
  height: 40px;
}

.form button {

  background-color: rgba(166, 164, 164, 0.066);
  border: none;
  color: #c9a84c;
}

.form button:hover {
  background-color: #c9a84c;
  border: none;
  color: black;

}